body
{
	font:15px "Open Sans", sans-serif;
}
.center{
	width:100%;
	background:#eff0f1;
	border-radius:6px;
	overflow-y:hidden;
	overflow-x: hidden;
	height:100vh;
	position:absolute;
	top:0;
	left:0;
	
	position: relative;
	text-align: center;

.button {
    background-color: #FFDAB9;border: none;color: #02A0CF;padding: 10px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;}
#child {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}

.button3 {border-radius: 8px;}